.root, body {
    overflow-x: hidden;
}
@media (max-width: 480px) {
    h1, .h1 {
        font-size: 20px !important;
    }

    h2, .h2 {
        font-size: 95% !important;
    }

    h3, .h3 {
        font-size: 95% !important;
    }
}